<div class="container-xl padding1">
    <div class="">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                    </div>
                </div>

                <table>
                    <tr>
                        <th class="col-md-1">Items</th>
                        <th class="col-md-1">Price</th>
                        <th class="col-md-1">Quantity</th>
                        <th class="col-md-3">Total</th>
                    </tr>
                </table>
                <table>
                    <tr *ngFor="let items of cartfood" class="row row border-top main align-items-center">
                        <td class="col-sm-3">
                            <img class="img-fluid widthimage" [src]="items.imageUrl">
                            <div class="row">{{items.dishName}}</div>
                            <div class="row text-muted">{{items.description}}</div>
                        </td>
                        <td class="col-md-2">{{items.cost}}</td>
                        <td class="col-md-2">{{items.quantity}}</td>
                        <td class="col-md-2">{{items.cost * items.quantity}}</td>
                        <td class="col-md-2"><button (click)="removefromcart(items.id)"
                                class="btn btn-danger">Remove</button></td>
                    </tr>
                </table>

                <div class="back-to-shop"><a href="/home"><span class="text-muted">Back to shop</span></a></div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">Sub Total</div>
                    <div class="col text-right">&#x20B9; {{totalprice}}</div>
                </div>
                <div class="row">
                    <div class="col">Tax</div>
                    <div class="col text-right">&#x20B9; 50</div>
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col font2">Total</div>
                    <div class="col text-right">&#x20B9; {{totalprice + 50}}</div>
                </div>
                <button (click)="confirmorder(Confirmorder)" class="btn btn-primary col-md-12" [disabled]="disablecheckout">Checkout/Place Order</button>
                <button style="margin-top: 40px;" routerLink="/home/profile/address"
                    class="btn btn-light col-md-12 btn-lg">Add Address</button>
                <button style="margin-top: 40px;" routerLink="/home/profile/payment"
                    class="btn btn-light col-md-12 btn-lg">Add Payment Details</button>
            </div>

        </div>
    </div>
</div>

<ng-template #Confirmorder let-modal>
    <div class="modal-header col-lg-12">
      <h4 class="modal-title">Pay with</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
          aria-hidden="true">&times;</span></button>
    </div>
    <div class="navbar-collapse" id="navbarNav">
      <button (click)="onplaceorderpopup('bank')" [ngClass]="bank? 'btn btn-success' : 'btn btn-light'"
        class="col-md-4">Bank</button>
      <button (click)="onplaceorderpopup('card')" [ngClass]="card? 'btn btn-success' : 'btn btn-light'"
        class="col-md-4">card</button>
      <button (click)="onplaceorderpopup('qr')" [ngClass]="qr? 'btn btn-success' : 'btn btn-light'" class="col-md-4">QR
        code</button>
      <div *ngIf="bank" class="col-md-12">
        <p class="font2 popupmargin">Enter Bank Details</p>
        <div><input class="col-md-12 popupmargin form-control" placeholder="Enter Account Number" type="text"></div>
        <div><input class="col-md-12 popupmargin form-control" placeholder="Enter Name" type="text"></div>
        <div><input class="col-md-12 popupmargin form-control" placeholder="IFSC code" type="text"></div>
        <button (click)="modal.close('placeorder')" class="btn btn-primary btnmar col-md-8">Pay &#x20B9; {{totalprice}}</button>
      </div>
      <div *ngIf="card" class="col-md-12">
        <p class="font2 popupmargin">Enter Card Details</p>
        <div class="container padding56">
          <div class="row hidden-md-up neu">
            <div *ngFor="let x of this.cardarray; let i = index" class="col-md-4 bankcard">
              <div (click)="cardselected(x)" class="card">
                <div class="card-block">
                  <h5 class="card-title centertext font2">Card {{i+1}}</h5>
                  <p class="centertext2">Name: {{x.name}}</p>
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="col-md-12">
          <div><input [(ngModel)]="cardnumber" class="col-md-12 popupmargin form-control" placeholder="Enter Account Number" type="text"></div>
          <div><input [(ngModel)]="cardname"  class="col-md-12 popupmargin form-control" placeholder="Enter Name" type="text"></div>
          <div><input [(ngModel)]="cardcvv"  class="col-md-12 popupmargin form-control" placeholder="IFSC code" type="text"></div>
          <button (click)="modal.close('placeorder')" class="btn btn-primary btnmar col-md-8">Pay &#x20B9; {{totalprice}}</button>
        </div>
      </div>
      <div *ngIf="qr" class="col-md-12">
        <p class="font2 popupmargin">scan QR code to pay</p>
        <img class="col-md-8 btnmar" src="assets/qr.JPG">
      </div>
    </div>
  </ng-template>