<div class="container-xl padding1">
    <div class="">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                    </div>
                </div>

                <table>
                    <tr>
                        <th class="col-md-1">Items</th>
                        <th class="col-md-1">Price</th>
                        <th class="col-md-1">Quantity</th>
                        <th class="col-md-3">Total</th>
                    </tr>
                </table>
                <table>
                    <tr *ngFor="let items of cartfood" class="row row border-top main align-items-center">
                        <td class="col-sm-3">
                            <img class="img-fluid widthimage" [src]="items.imageUrl">
                            <div class="row">{{items.dishName}}</div>
                            <div class="row text-muted">{{items.description}}</div>
                        </td>
                        <td class="col-md-2">{{items.cost}}</td>
                        <td class="col-md-2">{{items.quantity}}</td>
                        <td class="col-md-2">{{items.cost * items.quantity}}</td>
                        <td class="col-md-2"><button (click)="removefromcart(items.id)"
                                class="btn btn-danger">Remove</button></td>
                    </tr>
                </table>

                <div class="back-to-shop"><a href="/home"><span class="text-muted">Back to shop</span></a></div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">Sub Total</div>
                    <div class="col text-right">&#x20B9; {{totalprice}}</div>
                </div>
                <div class="row">
                    <div class="col">Tax</div>
                    <div class="col text-right">&#x20B9; 50</div>
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col font2">Total</div>
                    <div class="col text-right">&#x20B9; {{totalprice + 50}}</div>
                </div>
                <button  class="btn btn-primary col-md-12" [disabled] = "disablecheckout">Checkout/Place Order</button>
                <button style="margin-top: 40px;" routerLink="/home/profile/address" class="btn btn-light col-md-12 btn-lg" >Add Address</button>
                <button style="margin-top: 40px;"  routerLink="/home/profile/payment" class="btn btn-light col-md-12 btn-lg">Add Payment Details</button>
            </div>
            
        </div>
    </div>