<div class="container justify-content-center align-items-center paddingtopsearch">
    <div class="navbar-form  search-padding">
      <div class="row">
        <input type="text" [(ngModel)]="searchdata" class="form-control col-lg-11" placeholder="Enter Order ID">
        <button type="button" (click)="searchorder()" class="btn btn-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="container pad2">
      <p class="font2 paddingtop">Your Order Status</p>
      <div class="col-md-12">
        <div class="card col-md-11 pad">
            <ul class="list-group list-group-flush">
              <li *ngFor="let x of allorders"  class="list-group-item">
                  <div>
                      Order ID: 1223{{x.id}}
                  </div>
                  <div>
                    Order Date and time: {{x.orderDateTime}}
                </div>
                  <div>
                      Status: {{orderstatus}}
                  </div>
                  
              </li>
            </ul>
            
            <div class="full" id="map"></div>

          </div>
         
      </div>
  </div>