<div class="container-xl padding1">
    <div class="row">
        <div class="col-md-4 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Profile</b></h4>
                    </div>
                </div>
            </div>
            <div class="position-profile">
                <img class="img-fluid widthimage" src="assets/profile.png">
            </div>
            <div>
                <h5 class="font2 col-md-11 position-profile" style="padding-top: 10px;">{{userdata.fname}}</h5>
            </div>
            <div  class="position-profile-btn1">
                <button class="btn btn-light col-md-11" routerLink="/home/profile/user">Profile</button>
            </div>
            <div  class="position-profile-btn">
                <button class="btn btn-light col-md-11" routerLink="/home/profile/address">Address</button>
            </div>
            <div  class="position-profile-btn">
                <button class="btn btn-light col-md-11" routerLink="/home/profile/payment">Payment</button>
            </div>
            <div  class="position-profile-btn2">
                <button (click)="navigatetohome()" class="btn btn-light col-md-11">Home</button>
            </div>
        </div>
      
        <div class="col-md-8 summary">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>